/* a minimalist set of CSS resets */

.mid-box {
   width: 50px;
   height: 20px;
}

.short-box {
  width: 30px;
  height: 20px;
}

.long-box {
  width: 85px;
  height: 20px;
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 42%;
}

.main-box {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.warning-message {
  color: red;
  margin: 0;
  padding: 0;
  display: none;
  font-size: 12px;
}
/* Flex box */ 

/* Bottom container (fills remaining space) */
.horizontal-container {
  max-width: 100%;
  display: flex;
  flex: 1;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.graph-box {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.space-obj {
  --size: 40%;
  width: var(--size);
  height: auto;
  margin: calc(var(--size) / 5);
  aspect-ratio: 1;
}

.space {
  display: flex;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  background: black;
  border: 2px solid black;
  flex: 1;
}

/* Hide buttons */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calendar {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 900px) {
  /* Stylesheet for mobile devices */
  .horizontal-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .main-box {
    margin: 5px;
    padding: 10px;
  }

  .graph-box {
    flex: 1;
    width: auto;
  }

  body {
    margin: 0;
  }
}