/* a minimalist set of CSS resets */

.mid-box {
   width: 40px;
   height: 20px;
}

.short-box {
  width: 30px;
  height: 20px;
}

.long-box {
  width: 85px;
  height: 20px;
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.main-box {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

/* Flex box */ 

/* Bottom container (fills remaining space) */
.bottom-container {
  display: flex;
  flex: 1; /* Takes up all remaining space */
}

.calendar-box {
  flex: 1
}

.graph-box {
  display: flex;
  flex-direction: column;
  flex: 2;
}

/* Bottom elements (equal height) */
.bottom-item {
  flex: 1;
  background-color: #4CAF50;
  align-items: center;
  justify-content: center;
  border: 2px solid white; /* Just for visibility */
}